
.sign-up {
    background-color: rgb(233, 17, 17);
    border-radius: 10px;
    padding: 6px 10px !important;
    color: #fff !important;
}
.logout {
    border: 1px solid;
    border-radius: 10px;
}
.cart-icon {
    font-size: 28px;
    margin-right: 5px;
}