.break-fast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin: 10px 10%;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .break-fast {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 468px) {
    .break-fast {
        grid-template-columns: repeat(1, 1fr);
    }
}