.move-btn {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.back-btn {
    border: none;
    font-size: larger;
    background-color: #fff;
}
.back-btn:hover {
    text-decoration: underline;
}
.single-item-container{
    display: flex;
    margin: 5% 15%;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}
.left-item > *:not(:last-child) {
    margin-bottom: 30px;
}
.price-quantity {
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.quantity button {
    border: 0;
    background-color: #fff;
}
.quantity {
    border: 1px solid;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    column-gap: 10px;
    font-size: 18px;
}
.add-btn {
    padding: 10px 30px;
    background-color: #F91944;
    border-radius: 30px;
    border: 0;
    color: #fff;
}
.single-item-container img {
    width: 500px;
}