.back-btn-h {
    position: absolute;
    left: 2%;
    top: 2%;
    border: none;
    font-size: larger;
    background-color: #fff;
}
.back-btn-h:hover {
    text-decoration: underline;
}
.take-order-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../images/bannerbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.take-order-container .login-form {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 30%;
}
.order-confirm-container {
    display: flex;
}
.confirm-add-cart {
    position: absolute;
    top: 5%;
    left: 55%;
    width: 35%;
    overflow-y: scroll;
    height: 350px;
    background-color: ivory;
    border-radius: 15px;
}

.single-add-cart {
    display: flex;
    /* padding: 10px 0; */
    padding-left: 5px;
    border-bottom: 1px solid;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}
.confirm-add-cart img {
    width: 100px;
}
.delete-order-item {
    cursor: pointer;
}
.pricing {
    position: absolute;
    top: 56%;
    left: 55%;
    width: 35%;
    padding: 10px;
    background-color: ivory;
    border-radius: 15px;
}
.on-order {
    position: absolute;
    top: 40%;
    left: 24%;
}